.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
  }

  .expand-content {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.6s ease-in;
  }

  .forza{
    filter: drop-shadow(5px 5px 20px rgba(128, 0, 128, 0.8))
  }
  .forza1{
    filter: drop-shadow(5px 5px 20px rgba(48, 29, 134, 0.973))
  }
  .svg{
    transform: rotate(100deg);
  }
  .svg-left{
    transform: rotate(-80deg);

  }
