<div class="container my-5">
  <div class="mb-3">
    <p class="display-6 fw-bold">Add new player</p>
  </div>
  <div class="d-flex flex-column gap-3 w-50">
    <div class="d-flex flex-column gap-3">
      <input [(ngModel)]="newPlayer.firstName" placeholder="Nome">
      <input [(ngModel)]="newPlayer.lastName" placeholder="Cognome">
      <input [(ngModel)]="newPlayer.role" placeholder="Ruolo">
      <input [(ngModel)]="newPlayer.strenght" type="number" min="1" max="10" placeholder="forza">
      <input [(ngModel)]="newPlayer.skills" placeholder="Skills">
      <input [(ngModel)]="newPlayer.price" placeholder="prezzo">
    </div>
    <button class="btn btn-success btn-sm" (click)="addPlayer()">Aggiungi Player</button>
  </div>
</div>
