<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <h1 class="title text-white">
      Fanta
      <img *ngIf="isExpanded" src="../../../assets/img/epicode_logo.png" class="logo">
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link" *ngIf="user">
      <div class="content" [routerLink]="['/homepage']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-house"></i>
        </div>
        <div class="title">Home</div>
      </div>
    </div>
    <div class="link" *ngIf="user">
      <div class="content" [routerLink]="['/players']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-joystick"></i>
        </div>
        <div class="title">Players</div>
      </div>
    </div>
    <div class="link" *ngIf="user">
      <div class="content" [routerLink]="['/users']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-people"></i>
        </div>
        <div class="title">Users</div>
      </div>
    </div>
    <div class="link" *ngIf="user">
      <div class="content" [routerLink]="['/profile']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-person-lines-fill"></i>
        </div>
        <div class="title">Profile</div>
      </div>
    </div>
    <div class="link" *ngIf="user" routerLink="/login" (click)="logout()">
      <div class="content" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-box-arrow-left"></i>
        </div>
        <div class="title">Logout</div>
      </div>
    </div>
    <div class="link" *ngIf="user?.admin">
      <div class="content" [routerLink]="['/create']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-plus-square"></i>
        </div>
        <div class="title">Create</div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>

