.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 35px;
  border: 1px solid #ffffff22;

  background-color: #282c34;
  background: linear-gradient(0deg,
          rgba(40, 44, 52, 1) 0%,
          rgba(17, 0, 32, 0.5) 100%);
          box-shadow: 0 7px 20px 5px #00000088;
          backdrop-filter: blur(7px);
          color: white;
  }

.epipink {
  color: #ee83e5;
  text-shadow: 2px 2px 2px rgba(238, 131, 238, 0.5)
}

.pink{
  text-shadow: 2px 2px 2px rgba(238, 131, 238, 0.5)
}

